.features {
  @media screen and (min-width:1200px) {
    padding-bottom: 0;
  }
}

.features__icon-decoration {
  display: flex;
  background-color: var(
    --third-bg-color
  );
  justify-content: center;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.features__titles {
  text-align: center;
  @include font(
    700,
    14px,
    1.15,
    00.03em,
    normal
  );
  text-transform: uppercase;
  color: inherit;
  margin-bottom: 10px;

  @media screen and (min-width:768px) {
    text-align: start;
  }
}

.features__paragraph {
  @include font(
    400,
    14px,
    1.71,
    00.03em,
    normal
  );
  color: var(--main-text-color);
}

.features__list {
  display: block;
  
  @media screen and (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__item {
  margin-bottom: 30px;
  @media screen and (min-width:768px) {
    min-width: 354px;
    width: calc((100% - 2 * 30px) / 2);
    margin-right: 30px;
    &:nth-child(even) {
      margin-right: 0;
    }
    &:nth-child(n + 3) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width:1200px) {
    min-width: 270px;
    max-width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
