:root {
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --title-color: #212121;
  --header-links-color: #212121;
  --header-contacts-color: #757575;
  --footer-contacts-color: #ffffff99;
  --sec-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --logo-color: #000000;
  --logo-sec-color: #ffffff;
  --hero-color: #ffffff;
  --button-hover-color: #ffffff;
  --footer-address-color: #ffffff;
  --portfolio-button-color: #212121;
  --team-text-color: #ffffff;
  --icons-color: #afb1b8;
  --icons-color-light: #ffffff;
  --header-icons-color: #757575;
  --most-text-color: #ffffff;
}
